# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
numberfloat=2.3

print (numberfloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

# short-hand version
result += 1
print(result)

7.4
8.4

##### Subtraction

In [4]:
result_diff = 5 - 2
print(result_diff)

3

##### Multiplication

In [5]:
result_mul = num1 * num2
print(result_mul)

10.8

##### Division

In [6]:
result_div = num2/num1
print(result_div)

2.7

##### Floor Division

result_floor = num2 // num1

print(result_floor)

##### Modulo

In [7]:
result_mod= 100 % 30
print(result_mod)

10

#Exponential

In [8]:
square = 5 ** 2
print(square)

#shorthand
square **=2 
print(square)

25
625

### String Input-Output

##### String Assignment

In [9]:
name = "kevin"
print(name)

kevin

##### print() <br>
<p>Don't forget about end=' '</p>

In [10]:
print("this is my first name: ", name)

print("Full name: ", name, end=" thomas")

this is my first name:  kevin
Full name:  kevin thomas

##### String Concatenation

In [11]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + ' ' +  last_name
print(full_name)

full_name += ' jrs '


print(full_name)

John Smith
John Smith jrs

##### Type Conversion

In [12]:
number = '32'
change_type_num= int(number)
change_type_num += 5
print(change_type_num)

37

##### input()

In [13]:
#input will always return a string

age = int(input('how old are you '))
new_age = age + 1 
print(new_age)

how old are you 12
13

##### format()

In [14]:
age = input('what is your age? ')
name = input('what is your name? ')

result_string = "you are {}, you are {} years old and are getting wiser".format(name,age)
print(result_string)

result_again = f'{age} is a great time in life'
print (result_again)

what is your age? 2
what is your name? 2
you are 2, you are 2 years old and are getting wiser
2 is a great time in life

##### Old Way (python 2)

In [15]:
result_string2 = "you are %s and you look great for your age" %age
print(result_string2)

you are 2 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [16]:
color=input('what is the color of your car ')
year=input('what is the year of your car ')
make=input('what is the make of your car ')
model=input('what is the model of your car ')

result_car='You have a {} {} {} {} that runs great'.format(color,year,make,model)
print(result_car)

what is the color of your car 2
what is the year of your car 2
what is the make of your car 2
what is the model of your car 2
You have a 2 2 2 2 that runs great

### If Statements

In [17]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

num1 = 5
num2 = 10 

if num1 == num2:
    print('equal values')
else:
    print('not equal')
    
if num2 > num1:
    print ('num2 is greater than')
elif num2 < num1:
    print ('num2 is leass than')
else:
    print('they are the same')

not equal
num2 is greater than

##### 'is' keyword

In [18]:
#use is when checking for similar objects, not for same values

num3 = 55
num4 = num3
if num3 is num4:
    print('this is the exact number')

this is the exact number

##### 'in' keyword

In [19]:
char_name = 'max payne'

if 'max' in char_name:
    print ('lost everything')

lost everything

##### 'not in' keyword'

In [20]:
sega_char = 'sonic'

if 'a' not in sega_char:
    print('a is not here')

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [21]:
word = "true"

if 'p' in word:
    print("letter p is in word")
else:
    print("no letter p in word")

no letter p in word

## Using 'and'/'or' with If Statements

In [22]:
first_name='ma'
age=11

if first_name == 'max' and age ==10:
    print('i am max and i am 10')
elif first_name == 'max' or age ==10:
    print('I am either max or i am 10')
else:
    print('i am neither')

i am neither

### Elif Statements

### Else Statements

In [23]:
# see above

### For Loops

In [24]:
# for item in interable_thing:
    #do some stuff
    
name = 'kevin thomas'

for letter in range(len(name)):
    print(letter)

0
1
2
3
4
5
6
7
8
9
10
11

##### Using 'in' keyword

In [25]:
# see above

##### Continue Statement

In [26]:
# will continue to next iteration

In [27]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [28]:
# will break out of current loop

In [29]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [30]:
# mostly used as a placeholder, and will continue on same iteration

In [31]:
for i in name:
    pass

##### Double For Loops

In [32]:
for i in range(5):
    for j in range(5):
        print('i = ', i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [33]:
# while condition statement (something that is true or false): 
    # do some stuff repeatdly 
    
num = 0
while num<10:
    print (num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [35]:
game_running = True
score = 0

while game_running:
    user_input = input ('say something ')
    if user_input == 'quit':
        game_running = False
    print (user_input) 
    score += 1
    print(f"score: {score}")

say something d
d
score: 1
say something ds
ds
score: 2
say something quit
quit
score: 3

##### While & For Loops Used Together

In [36]:
num = 0 

while num < 5:
    print('\n while loop interation: ' + str(num))
    
    for i in range(2):
        print ('for loop iteration: ' + str(i))
        
    num += 1

 while loop interation: 0
for loop iteration: 0
for loop iteration: 1

 while loop interation: 1
for loop iteration: 0
for loop iteration: 1

 while loop interation: 2
for loop iteration: 0
for loop iteration: 1

 while loop interation: 3
for loop iteration: 0
for loop iteration: 1

 while loop interation: 4
for loop iteration: 0
for loop iteration: 1

### Built-In Functions

##### range()

In [39]:
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

##### len()

In [40]:
name = 'max'

length = len (name)
print (length)

3

##### help()

In [41]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [42]:
print(isinstance(4.5,int))
if isinstance(4.5, float): 
    print('this number is a float type')

False
this number is a float type

##### abs()

In [43]:
print(abs(-5))

5

### Try and Except

In [44]:
try:
    number_test= 0 
    input_num = int(input('guess a number '))
    if input_num != number_test:
        input_num = input_num + number_test
        print ('your number is: ' +str(input_num))
except:
    print('that did not work-error')

guess a number 10
your number is: 10

### Lists

##### Declaring Lists

In [46]:
my_list = []

names = ['max','cindy','kathy',5, 'nate']

print(names)

['max', 'cindy', 'kathy', 5, 'nate']

##### Indexing a List

In [55]:
print(names[2])

print(names[-3])

print(names[1:])

print(names[:3])

print(names[2:4])

print(names[1::2])

print(names[::-1])

kathy
kathy
['cindy', 'kathy', 5, 'nate']
['max', 'cindy', 'kathy']
['kathy', 5]
['cindy', 5]
['nate', 5, 'kathy', 'cindy', 'max']

##### .append()

In [57]:
names.append('bob')

print(names)

['max', 'cindy', 'kathy', 5, 'nate', 'bob', 'bob']

##### .insert()

In [59]:
names.insert(3, 'gabby')
print(names)

['max', 'cindy', 'kathy', 'gabby', 'gabby', 5, 'nate', 'bob', 'bob']

##### .pop()

In [66]:
names.pop(-4)
print(names)

['max', 'cindy', 'kathy', 'gabby', 5, 'nate', 'bob']


##### .remove()

In [67]:
# value to be removed not the index

names.remove('bob')
print(names)

['max', 'cindy', 'kathy', 'gabby', 5, 'nate']

##### del()

In [68]:
del(names[1])
print(names)

['max', 'kathy', 'gabby', 5, 'nate']

##### Concatenating Two Lists

In [69]:
first_list=[0,1,2]
second_list=[3,4,5]

big_list= first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [72]:
names= ['max','tom','josh',['sue','bird','tamk']]

print(names)
print(names[3][1])

['max', 'tom', 'josh', ['sue', 'bird', 'tamk']]
bird

##### Looping Through Lists

In [73]:
for i in range(len(name)):
    print(names[i])

    
for i in names:
    print(i)

max
tom
josh
max
tom
josh
['sue', 'bird', 'tamk']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [94]:

for i in range(1,1000):
    print(i**3)
    if i**3>=1000:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [107]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1, 101):
    if(num>1):
        for i in range(2,num):
            if(num%i)==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [124]:
age=int(input('What is your age '))

if age<18:
    print('kids')
elif age >=18 and age <= 65:
    print('adults')
else:
    print('seniors')

What is your age 90
seniors